<div class="background-pattern  w-full h-full flex">
    <div class="grow"></div>

    <div class="w-100 h-full p-4 bg-(--app-global-background-color)">
        <form class="mt-4 flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <input
                    class="app-input  w-full px-3 py-1 text-lg"
                    type="text"
                    placeholder="Username"
                    autocomplete="username"
                    formControlName="username"
                />
                @if (form.controls.username.invalid && (form.controls.username.dirty || form.controls.username.touched))
                {
                    @if (form.controls.username.hasError('required'))
                    {
                        <div class="ml-1 text-sm text-red-500">Username is required.</div>
                    }
                    @if (form.controls.username.hasError('minlength'))
                    {
                        <div class="ml-1 text-sm text-red-500">Username must be at least 3 characters long.</div>
                    }
                    @if (form.controls.username.hasError('disallowedCharacters'))
                    {
                        <div class="ml-1 text-sm text-red-500">Username contains disallowed characters.</div>
                    }
                }
            </div>
            <div>
                <input
                    class="app-input  w-full mt-1.5 px-3 py-1 text-lg"
                    type="password"
                    placeholder="Password"
                    autocomplete="current-password"
                    formControlName="password"
                />
                @if (form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched))
                {
                    @if (form.controls.password.hasError('required'))
                    {
                        <div class="ml-1 text-sm text-red-500">Password is required.</div>
                    }
                    @if (form.controls.password.hasError('minlength'))
                    {
                        <div class="ml-1 text-sm text-red-500">Password must be at least 3 characters long.</div>
                    }
                    @if (form.controls.password.hasError('disallowedCharacters'))
                    {
                        <div class="ml-1 text-sm text-red-500">Password contains disallowed characters.</div>
                    }
                }
            </div>
            <div>
                <input
                    class="app-input  w-full mt-1.5 px-3 py-1 text-lg"
                    type="password"
                    placeholder="Repeat password"
                    autocomplete="current-password"
                    formControlName="repeatedPassword"
                />
                @if (form.controls.repeatedPassword.invalid && (form.controls.repeatedPassword.dirty || form.controls.repeatedPassword.touched))
                {
                    @if (form.controls.repeatedPassword.hasError('required'))
                    {
                        <div class="ml-1 text-sm text-red-500">Password is required.</div>
                    }
                }
                @if (form.invalid && form.hasError('mismatchedPasswords'))
                {
                    <div class="ml-1 text-sm text-red-500">Passwords are not matching.</div>
                }
            </div>

            @if (errorMessage$ | async; as errorMessage)
            {
                <div class="mt-1 ml-1 text-sm text-red-500">{{ errorMessage }}</div>
            }

            <div>
                <input class="app-button  mt-2 px-3 py-1 text-lg" type="submit" value="Sign In" />
            </div>
            <div class="mt-1 ml-1 text-sm">
                Already have an account? <a href="/login" class="app-link">Log in</a>
            </div>
        </form>
    </div>
</div>
